<?xml version="1.0" encoding="UTF-8"?>
<included>

	<logger name="org.hibernate.type" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="POLLER_LOG_FILE" />
	</logger>
	
	<logger name="com.stu.dmt" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="POLLER_LOG_FILE" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</included>

